doctype html
html(lang="en", ng-app="sampleStoreGenerated" ng-strict-di)
  head
    title Sample Store Generated
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/app.css")
  body(ng-controller="SampleStoreGeneratedCtrl as vm", ng-cloak)
    block main-content
    include scripts