//Vendor Scripts
script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/bootstrap-sass-official/assets/javascripts/bootstrap.js")
script(src="/vendor/toastr/toastr.js")
script(src="/vendor/lodash/dist/lodash.compat.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-ui-router/release/angular-ui-router.js")
script(src="/vendor/restangular/dist/restangular.js")
script(src="/vendor/moment/moment.js")
script(src="/vendor/angular-mocks/angular-mocks.js")

script(src="/services/product-resource/products-mock-data.js")
script(src="/services/product-resource/products-mock.js")
script(src="/services/product-resource/product-resource.js")

script(src="/services/product-model/product-model.js")

script(src="/views/product-detail/product-detail-ctrl.js")
script(src="/views/product-list/product-list-ctrl.js")
script(src="/views/product-add/product-add-ctrl.js")

script(src="/sample-store-generated.tpls.js")

script(src="/app.js")